$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h1{
    @extend h2;
}

h2
{
    color: $colorHeading;
}



#input{
    border: 2px solid red;
    border-radius: 4px;
}

body{
    background-color: #be4a14;
}

#output{
    color: #be4a14;
    font-size: large;
}